<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link href="../static/css/home.css" rel="stylesheet">
    <link href="../static/assets/icon.png" rel="icon">
</head>

<body class="home-page-body">

        <div class="nav-bar-body">

            <a class="home-a" href="home"> <button class="home-button">Home</button></a>
            <div class="spacefill"></div>
            <a class="login-a" href="login"><button class="login-button">login</button></a>
            <a class="register-a" href="register"> <button class="register-button">Register</button></a>

        </div>

        <div class="page-main-body">
Testing
        </div>
</body>

</html>